/*First css project so there will be some mistakes Form the next project should make the parent container as relative and child elements as position 
absolute this has been done in this project and the left top right should be in percentage to be more responsive*/
*{
	box-sizing: border-box;/*This makes the width combined with margin border and padding*/
	background-color: rgb(24,24,24);/*Bg color for every tag be black*/
}
html, body {/*for making the content come from left and top without any border*/
	height: 100%;
  	padding: 0;
  	margin: 0;
}
@media (min-width: 1200px){/*Media queries for large screen */
	img{
		position: absolute;/*Thumbnail image being absolute as its parent vids should be absolute or relative*/
		top: 35px;
		left: 16px;
	}
	/*hr{
		color: rgb(144,144,144);
		height: 0.5px;
	}*/
	.small-bottom, .small-bottomdiv, .small-bottomi, .small-bottoma{
		display: none;
	}
	.div1{/*This contains the user icon and sign in text*/
		font-family: Arial;
		position: absolute;/*Its parent header is relative*/
		color: rgb(144,144,144);
		font-weight: bold;
		left: 30px;
	}
	#user_small-screen{
		display: none;
	}
	#text{/*In left pane where it contains the sign in to like....text*/
		font-family: Arial;
		position: absolute;/*Parent left pane relative*/
		color: rgb(144,144,144);
		font-weight: bold;
	}
	.header{/*Header section at the top*/
		position: relative;/*Parent element*/
		background-color: rgb(33,33,33);
		width: 100%;/*Covers the entire width of the device*/
		height: 10%;/*Covers this part of the screen as height*/
	}
	#bars{/*Icons and its postioning*/
		position: absolute;
		color: white;
		top: 24px;
		left: 2%;
	}
	#Youtube{/*Icons and its postioning*/
		position: absolute;
		color: red;
		font-size: 30px;
		top: 17px;
		left: 4.8%;

	}
	#tri{/*Icons and its postioning*/
		position: absolute;
		color: white;
		background-color: red;
		font-size: 20px;
		top: 22.5px;
		left: 5.6%;
	}
	#textyt{/*Icons and its postioning*/
		position: absolute;
		font-weight: bold;
		font-family: Helvetica;
		color: rgb(255,255,255);
		left: 7%;/*LEft from left border of the screen the text near the icon will be displayed*/
		top: 2px;
	}
	sup{/*The in above Youtube icon and text*/
		font-weight: normal;
		color: rgb(168,168,168);
	}
	#search{/*Icons and its postioning*/
		position: absolute;
		display: inline;
		background-color: black;
		padding: 7px;/*PAdding for the text search*/
		font-size: 15px;
		width: 40%;
		height: 50%;
		top: 15px;
		left: 25%;/*LEft from the border of the sceen */
		border: solid 2px rgb(49,49,49);
	}
	#icon{/*Icons and its postioning*/
		position: absolute;
		display: inline;
		color: rgb(111,111,111);
		top: 14px;
		left: 65%;
		border: solid 10px rgb(49,49,49);
		border-width: 10px;
	}	
	#mic{/*Icons and its postioning*/
		position: absolute;
		color: white;
		display: inline;
		left: 70%;
		top: 25px;
	}
	#grid{/*Icons and its postioning*/
		position: absolute;
		color: white;
		display: inline;
		font-size: 20px;
		left: 84%;
		top: 23px;
	}
	#option{/*Icons and its postioning*/
		position: absolute;
		color: white;
		display: inline;
		font-size: 20px;
		left: 88%;
		top: 23px;
	}
	#contains_signin{/*Icons and its postioning*/
		display: inline;
		position: relative;
		color: rgb(62,166,255);
		border: 1px solid rgb(62,166,255);
		padding: 5px;/*Padding for the user icon and sign in text*/
		width: 55px;
		font-family: Arial;
		left: 90.5%;
		height: 60px;
		top: 20px;
	}
	#user{/*Icons and its postioning*/
		position: absolute;
		color: rgb(62,166,255);
		padding: 2px;
		border-radius: 75%;
		border-color: rgb(62,166,255);
	}
	.left_pane{/*Left pane styles*//*Should have grouped the left pane elements together this wasted a lot of panes*/
		position: relative;/*Parent element*/
		padding: 0;
		margin-top: 0;
		width: 15%;
		height: 100%;/*TO extend to height as per the device height*/
		float: left;/*Float at left*/
		background-color: rgb(33,33,33);
		overflow-y: auto;/*Scrolable when content goes past the height*/
	}
	.art{/*Article tag styles which contains text like ibrary history*/
		color: white;
		font-family: Roboto;
		text-align: center;/*ALigning at the center*/
	}
	.left_pane_obj:active, .left_pane_obj:hover{/*Pseudo class selectors when hovered over it gives the bg color change*/
		background-color: rgb(63,63,63);
	}
	#hom{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		width: 20%;/*Width to occupy full left pane same 20%*/
		color: white;
		padding-left: 32px;/*Padding of text according to the text*/
	}
	#explore{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		width: 20%;/*Width to occupy full left pane same 20%*/
		color: rgb(144,144,144);
		padding-left: 32px;/*Padding of text according to the text*/
	}
	#yt{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		width: 20%;/*Width to occupy full left pane same 20%*/
		color: rgb(144,144,144);
		padding-left: 31px;/*Padding of text according to the text*/
	}
	#vl{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		padding-left: 33px;		/*Padding of text according to the text*/
	}
	#histo{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		padding-left: 33px;	/*Padding of text according to the text*/
	}
	#text{/*TExt and its styles*/
		position: relative;/*Parent relaitve left pane*/
		color: white;
		top: 7px;/*Some mistake this id is already used in header tag but dont know how it works dont wanna change now*/
		padding: 5px;/*Padding of text according to the text*/
	}/*TExt and its styles*/
	#contains_signin1{
		position: relative;/*Parent relaitve left pane*/
		color: rgb(62,166,255);
		border: 1px solid rgb(62,166,255);
		left: 45px;
		padding: 5px;/*Padding of text according to the text*/
		width: 105px;
		font-family: Arial;
	}
	#text1{/*TExt and its styles best of youtube*/
		position: absolute;/*Parent relaitve left pane*/
		left: 25px;
		font-family: Arial;
		color: rgb(170,170,170);
		font-size: 15px;
	}
	#musi{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		padding-left: 35px;	/*Padding of text according to the text*/
	}
	#cup{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		padding-left: 35px;			/*Padding of text according to the text*/
	}
	#gaming{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		padding-left: 35px;	/*Padding of text according to the text*/
	}
	#film{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		font-size: 14px;
		padding-left: 36px;	/*Padding of text according to the text*/
	}
	#news{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		font-size: 14px;
		padding-left: 36px;	/*Padding of text according to the text*/
	}
	#live{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		font-size: 14px;
		padding-left: 36px;	/*Padding of text according to the text*/
	}
	#learning{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		font-size: 14px;
		padding-left: 36px;	/*Padding of text according to the text*/
	}
	#spotlight{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: red;
		width: 20%;/*Width to occupy full left pane same 20%*/
		font-size: 14px;
		padding-left: 36px;	/*Padding of text according to the text*/
	}
	#v360{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		padding-left: 36px;	/*Padding of text according to the text*/
	}
	#plus{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		color: rgb(144,144,144);
		width: 20%;/*Width to occupy full left pane same 20%*/
		padding-left: 31px;	/*Padding of text according to the text*/
		padding-right: 4px;/*Padding of text according to the text*/
	}
	#more{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		left: 23px;
		color: rgb(144,144,144);
	}
	#ytpr{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		left: 23px;
		color: rgb(144,144,144);
	}
	#setting{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		left: 33px;
		color: rgb(144,144,144);
	}
	#report{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		left: 33px;
		color: rgb(144,144,144);
	}
	#help{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		left: 33px;
		color: rgb(144,144,144);
	}
	#msg{/*TExt and its styles*/
		position: absolute;/*Parent relaitve left pane*/
		left: 33px;
		color: rgb(144,144,144);
	}
	.category{/*Grouped many styles together for this category scetion yet the position is given separately should learn how to stack elements */
		position: relative;/*PArent element*/
		width: 85%;/*Width of 85% othe rthan the left pane 25%*/
		background-color: rgb(33,33,33);
		height: 5%;
		left: 0px;
		overflow-x: auto;/*scrollable horizontally*/
		border: 1px solid rgb(55,55,55);
	}
	.categories{/*Categories span tag which has category elements*/
		position: absolute;/*child element*/
		font-family: Arial;
		color: white;
		background-color: rgb(63,63,63);
		border: solid 3px rgb(87,87,87);
		left: 20px;
		border-radius: 44%;/*Rounded border*/
		padding-left: 9px;/*padding for text*/
		padding-right: 9px;/*padding for text*/
	}
	#cat1{/*Position of category*/
		left: 73px;
	}
	#cat2{/*Position of category*/
		left: 193px;
	}
	#cat3{/*Position of category*/
		left: 309px;
	}
	#cat4{/*Position of category*/
		left: 424px;
	}
	#cat5{/*Position of category*/
		left: 539px;
	}
	#cat6{/*Position of category*/
		left: 655px;
	}
	#cat7{/*Position of category*/
		left: 779px;
	}
	#cat8{/*Position of category*/
		left: 893px;
	}
	#cat9{/*Position of category*/
		left: 1010px;
	}
	#cat10{/*Position of category*/
		left: 1126px;
	}
	#cat11{/*Position of category*/
		left: 1255px;
	}
	.main_video{/*main videos section container of all video containers which contains thumbnail channel name etc..*/
		position: relative;/*Parent element*/
		background-color: rgb(24,24,24);
		width: 85%;/*Width other than left pane*/
		height: 85.1%;
		overflow-y: scroll;/*scrollable when overflows*/
	}
	.vids{/*video contianer which contains thumbnail, vhannel name etc..*/
		position: absolute;/*child element*/
		width: 25%;/*25% of the total videos container*/
		height: 300px;/*height fixed*/
		overflow-y: scroll;
	}
	#vid1{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 0;
		left: 0;
	}
	#vid2{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 0;
		left: 25%;
	}
	#vid3{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 0;
		left: 50%;
	}
	#vid4{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 0;
		left: 75%;
	}
	#vid5{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 300px;
		left: 0;
	}
	#vid6{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 300px;
		left: 25%;
	}
	#vid7{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 300px;
		left: 50%;
	}
	#vid8{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 300px;
		left: 75%;
	}
	#vid9{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 600px;
		left: 0;
	}
	#vid10{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 600px;
		left: 25%;
	}
	#vid11{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 600px;
		left: 50%;
	}
	#vid12{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 600px;
		left: 75%;
	}
	#vid13{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 900px;
		left: 0;
	}
	#vid14{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 900px;
		left: 25%;
	}
	#vid15{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 900px;
		left: 50%;
	}
	#vid16{/*Specific video position*/
		background-color: rgb(24,24,24);
		top: 900px;
		left: 75%;
	}
	.channel{/*All icons of channel styles grouped together*/
		position: absolute;
		color: white;
		top: 201px;
		left: 23px;
	}
	.vid_tit{/*All video title name styles grouped together*/
		position: absolute;
		color: white;
		font-family: Arial;
		font-weight: bold;
		left: 57px;
		top: 202px;
	}
	.chan_name{/*All channel name styles grouped together*/
		position: absolute;
		color: rgb(170,170,170);
		font-family: Arial;
		top: 230px;
		left: 57px;
	}
	.views{/*All views styles grouped together*/
		position: absolute;
		color: rgb(170,170,170);
		font-family: Arial;
		top: 250px;
		left: 57px;
	}
}
@media(max-width: 767px){
	*{
		background-color: white;
	}
	.header{
		position: fixed;
		width: 100%;
		height: 10%;
		background-color: white;
		top: 0;
		left: 0;
		margin-bottom: 0;
	}
	#Youtube{
		position: absolute;
		top: 50%;
  		margin-top: -25px;
		left: 2%;
		width: 0;
		background-color: black;
		color: red;
		font-size: 22px;
	}
	#textyt{
		position: absolute;
		font-weight: bold;
		font-family: Helvetica;
		left: 10%;
		top: 50%;
  		margin-top: -25px;
	}
	#icon{
		position: absolute;
		top: 50%;
  		margin-top: -25px;
		right: 20%;
		width: 0;
		background-color: white;
	}
	#user_small-screen{
		position: absolute;
		top: 50%;
  		margin-top: -25px;
		right: 5%;
	}
	.category{/*Grouped many styles together for this category scetion yet the position is given separately should learn how to stack elements */
		position: relative;/*PArent element*/
		top: 10%;
		height: 7%;
		background-color: white;
		overflow-x: auto;/*scrollable horizontally*/
	}
	.categories{/*Categories span tag which has category elements*/
		position: absolute;/*child element*/
		font-family: Arial;
		color: black;
		background-color: #b7bec9;
		top: 2px;
		border-radius: 44%;/*Rounded border*/
		padding-left: 12px;/*padding for text*/
		padding-right: 12px;/*padding for text*/
	}
	#cat1{/*Position of category*/
		left: 73px;
	}
	#cat2{/*Position of category*/
		left: 193px;
	}
	#cat3{/*Position of category*/
		left: 309px;
	}
	#cat4{/*Position of category*/
		left: 424px;
	}
	#cat5{/*Position of category*/
		left: 539px;
	}
	#cat6{/*Position of category*/
		left: 655px;
	}
	#cat7{/*Position of category*/
		left: 779px;
	}
	#cat8{/*Position of category*/
		left: 893px;
	}
	#cat9{/*Position of category*/
		left: 1010px;
	}
	#cat10{/*Position of category*/
		left: 1126px;
	}
	#cat11{/*Position of category*/
		left: 1255px;
	}
	.main_video{
		position: relative;/*Parent element*/
		background-color: white;
		width: 100%;/*Width other than left pane*/
		top: 10%;
		height: 83%;
		overflow-y: scroll;/*scrollable when overflows*/
	}
	.vids{/*video contianer which contains thumbnail, vhannel name etc..*/
		border: 1px solid black;
		text-align: center;
		margin: 0 auto;
	}
	#bars, #search, #mic, #grid, #option, #contains_signin, #tri, .left_pane{
		display: none;
	}
/*	.small-bottom{
		background-color: red;
		position: relative;
		display: inline;
		top: 100%;
		width: 100%;
		height: 10%;
	}
	.small-bottomdiv{
		display: inline;
	}*/
}



